/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-emphasis-color: white;
}

/* Styles the navbar */
#navbar {
    overflow: hidden;
    background-color: #bb332d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }

  /* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }

  ul li a{
  text-decoration: none; 
  cursor: pointer;
  color: rgb(255, 255, 255);
  }

  ul li a:hover {
     background-color: rgb(129, 123, 123);
  }

  /* Page content */
.content {
    padding: 16px;
  }
  
 /* Sticky class added to navbar with JavaScript when it hits the scroll position */
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/* Adds some top padding to the page content */
.sticky + .content {
    padding-top: 60px;
  }
  

/* Body */  
body {
    background-color: #bb332d;
}

/* Footer */
footer {
    color: black;
    margin: 20px auto;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0%;
}

